.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 255, 255, 0.644); */
    background-color: #856f54de;
    padding: 100px;
    z-index: 1000;
    height: 600px;
    width:700px;
    overflow-y: scroll;
    border-radius: 20px;
    max-height:max-content;
    margin-top: 50px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .7);
    z-index: 1000;
}
.btn{
    border-color: blanchedalmond;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    color:blanchedalmond;
    margin-left: 200px;
}
.btn:hover{
    background-color: #ccb8a0a2;;
  }  
  .total{
    font-size: 1.25rem;
    text-align: center ;
    color:white;
    margin-bottom: 20px;
    font-weight: bold;
  }